/*
body{
        text-align: center;
        background-image: url('img/sqlbanner.gif');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        cursor: url('img/cursor.png'), auto;
}

body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
}

h1{
    font-family: 'Press Start 2P', cursive;
    
}

.Start_btn{

}
